@model List<Product>

<div>
  <h2>Product Information</h2>
  <form asp-controller="Home" asp-action="GetUserInfo" id="ProductInfo" method="post">
    <label>Product</label>
    <select form="ProductInfo" name="ProductId" value="ProductId">
      @{
        for (int i=0; i<ViewBag.ProductCount; i++){
          <option name="@Model[i].Id" value="@Model[i].Id">@Model[i].Name</option>
        }
      }
    </select>
    <label>Variation (if any)</label>
    <input name="variation" id="variation" />
    <label>Reference Number</label>
    <input name="ReferenceNumber" id="ReferenceNumber" required />
    <label>Sales Order Number</label>
    <input name="SalesOrderNumber" id="SalesOrderNumber" required />
    <label>Problem Description</label>
    <input name="ProblemDescription" id="ProblemDescription" required />
    <label>Date Received</label>
    <input type="date" name="date" id="date" required/>
    <label>Pictures / Videos of Problem</label>
    <p>(implement later)</p>
    <button type="submit">Next</button>
  </form>
</div>