@model UserInfoDto

<link rel="stylesheet" href="~/css/form.css" />
<div class="main">
  <h2>User Info</h2>
  <form asp-controller="Home" asp-action="GetProductInfo" method="post">
    <label>First Name</label>
    <input class="input-text" asp-for="FirstName" required />
    <label>Last Name</label>
    <input class="input-text" asp-for="LastName" required />
    <label>Contact Number</label>
    <input class="input-text" asp-for="ContactNumber" required />
    <label>Email</label>
    <input class="input-text" asp-for="Email" required />
    <div class="submitButton-container">
      <button onclick="SaveUserInfo()" class="submit-button" type="submit">Submit</button>
    </div>
  </form>
</div>
<script>
  // load user Info
  const LoadUserInfo = () => {
    if (localStorage.getItem('userInfo') == null){
      return null;
    }
    const userInfo = JSON.parse(sessionStorage.getItem('userInfo'));
    document.getElementById("FirstName").value = userInfo.firstName;
    document.getElementById("LastName").value = userInfo.lastName;
    document.getElementById("ContactNumber").value = userInfo.contactNumber;
    document.getElementById("Email").value = userInfo.email;
  }
  const SaveUserInfo = () => {
    const userInfo = {
      firstName: document.getElementById("FirstName").value,
      lastName: document.getElementById("LastName").value,
      contactNumber: document.getElementById("ContactNumber").value,
      email: document.getElementById("Email").value
    };
    const userInfoJSON = JSON.stringify(userInfo);
    sessionStorage.setItem("userInfo", userInfoJSON);
  } 
  LoadUserInfo();
</script>