@model UserInfoDto

<link rel="stylesheet" href="~/css/form.css" />
<div class="main">
  <h2>User Info</h2>
  <form asp-controller="Home" asp-action="GetProductInfo" method="post">
    <label>First Name</label>
    <input class="input-text" asp-for="FirstName" required />
    <label>Last Name</label>
    <input class="input-text" asp-for="LastName" required />
    <label>Contact Number</label>
    <input class="input-text" asp-for="ContactNumber" required />
    <label>Email</label>
    <input class="input-text" asp-for="Email" required />
    <div class="submitButton-container">
      <button class="submit-button" type="submit">Submit</button>
    </div>
  </form>
</div>