<div>
  <h1>Warranty Portal</h1>
  <p>
    The warranty page for products from multiple stores.
  </p>
  <p>
    This is the right page if you brought your product from the following stores.
  </p>
  <ul>
    <li>Afford4C</li>
    <li>625Tech</li>
    <li>Jabra Official Store (Lazada & Shopee)</li>
    <li>Plantronics Official Store (Lazada & Shopee)</li>
  </ul>
  <button onclick="Redirect()">Get Started</button>
  <script>
    const Redirect = () => {
      window.location.href = "/product";
    }
  </script>
</div>