<link rel="stylesheet" href="~/css/index.css" />
<div class="main">
      <h1 class="page-title">Warranty Portal</h1>
      <p>
        The warranty page for products from multiple stores.
      </p>
      <p>
        This is the right page if you brought your product from the following shops.
      </p>
      <ul>
        <li>Afford4C</li>
        <li>625Tech</li>
        <li>Jabra Official Store (Lazada & Shopee)</li>
        <li>Plantronics Official Store (Lazada & Shopee)</li>
      </ul>
      <p>Click on the button below to get started.</p>
      <div class="buttonContainer">
        <button class="GetStarted-button" onclick="Redirect()">Get Started</button>
      </div>
      <script>
        localStorage.clear();
        sessionStorage.clear();
        const Redirect = () => {
          window.location.href = "/user";
        }
      </script>
    </div>
</div>